@import url('https://fonts.googleapis.com/css2?family=Helvetica:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Helvetica', sans-serif;
  background: linear-gradient(135deg, #804000, #d2a679);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  border: 15px solid;
  border-image: linear-gradient(to right, #804000, #d2a679) 1;
  background-image: url(https://raw.githubusercontent.com/Randybobandy728/pbj-shop/refs/heads/main/PB%26J.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: contain;
}

.container {
  background-color: rgba(255, 222, 173, 0.95);
  border-radius: 10px;
  padding: 2rem;
  max-width: 600px;
  width: 80%;
  box-shadow: 0 4px 8px rgba(128, 0, 128, 0.5);
}

h1 {
  text-align: center;
  margin-bottom: 1rem;
  color: #4b0082;
  font-size: 2rem;
}

h2 {
  text-align: center;
  margin-bottom: 1rem;
  color: #5d3a00;
  font-size: 1.5rem;
  border: 2px solid #d2a679;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(255, 222, 173, 0.85);
}

p {
  text-align: center;
  margin-bottom: 2rem;
  color: #4b0082;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 1.5rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 700;
  color: #5d3a00;
}

input[type="text"],
input[type="tel"],
select {
  width: 100%;
  height: 40px;
  padding: 0.75rem;
  border: 1px solid #804000;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #f3e5ab;
}

button {
  padding: 0.75rem;
  background-color: #804000;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #5d3a00;
}

#orderSummary {
  margin-top: 2rem;
  padding: 1rem;
  background-color: #d2a679;
  border: 1px solid #4b0082;
  border-radius: 5px;
  color: #4b0082;
}
